#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#seed-phrase-box {
  width: 66em;
  background-color: rgb(252, 252, 252);
  color: black;
  font-size: larger;
  padding: 15px;
  border: 5px solid black;
}

#seed-phrase-text-button-div {
  display: flex;
  justify-content: space-evenly;
}

#seed-phrase-div {
  display: flex;
  justify-content: space-evenly;
}

#seed-phrase-text {
  margin: 0px;
  display: inline;
  position: absolute;
}

#seed-phrase-copy-button {
  margin-left: auto;
}

#wallet-div {
  width: 82em;
  display: flex;
  justify-content: space-evenly;
}

#wallet-box {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  width: 30em;
  background-color: rgb(252, 252, 252);
  color: black;
  font-size: larger;
  padding: 20px;
  border: 5px solid black;
}

#wallet-name {
  margin-top: 0px;
  margin-bottom: 10px;
}

#create-wallet-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#phrase-box {
  border: 2px solid black;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

#individual-wallet {
  display: grid;
  justify-content: space-around;
  width: 22em;
  background-color: rgb(252, 252, 252);
  color: black;
  font-size: larger;
  padding: 15px;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#private-key-div {
  display: flex;
  width: 22em;
  align-items: center;
  padding: 5px;
}

#eye-icon {
  cursor: pointer;
  margin-left: 5px;
}

#key-display-div {
  overflow: hidden;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #333;
  line-height: 1.5;
  margin-right: 5px;
}

#key-span-text {
  text-align: left;
  margin-bottom: 10px;
  word-wrap: break-word;
}